﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1115 N college Dr<br />
    Maryville, Missouri-64468<br />
    <abbr title="Phone">P:</abbr>
    660.528.0191
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">s528158@mail.nwmissouri.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">s528158@mail.nwmissouri.edu</a>
</address>
